 html { transform: rotate(0deg); }
 body { overflow:hidden; transition:0.5s; }
 video { object-fit:fill; width:100%; height:calc(100% - 2vh - 24px); }
 h1, h2, h3, h4 { margin:0; }
  nav, nav .nav-wrapper i { height:50px; line-height:50px; }
 .grid-stack-item-content { overflow:hidden!important; }
 .material-icons { font-family:'Material Icons'; }
 .waves-effect, .material-icons { display:block; }
 .modal { border-radius:2.5vw; padding:25px; }
 .handle {margin-bottom: 0px; padding:1vh; cursor:move; display:flex; }
 .grid-stack-item-content {background:#555; border-radius:0.5vw; }
 .remove { cursor:pointer; opacity:50%; transition:0.5s; } .remove::after { content: "cancel"; }  .remove:hover { opacity:100%; }
 .grid-stack>.grid-stack-item>.ui-resizable-se, .grid-stack>.grid-stack-item>.ui-resizable-sw { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDUwMCA1MDAiPjxwYXRoIGQ9Ik0zMjkgNDAyaC0zN1YxMTBoMzdjNSAwIDktMiAxMy02IDMtMyA1LTggNS0xM3MtMi05LTUtMTJMMjY5IDVjLTQtMy04LTUtMTMtNXMtOSAyLTEzIDVsLTczIDc0Yy00IDMtNiA3LTYgMTJzMiAxMCA2IDEzYzMgNCA4IDYgMTMgNmgzNnYyOTJoLTM2Yy01IDAtMTAgMi0xMyA1LTQgNC02IDgtNiAxM3MyIDkgNiAxM2w3MyA3M2M0IDQgOCA2IDEzIDZzOS0yIDEzLTZsNzMtNzNjMy00IDUtOCA1LTEzcy0yLTktNS0xM2MtNC0zLTgtNS0xMy01eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==); bottom:10px!important;}
 #TopBar { transition:0.5s; }
 .placeholder-content { background:#fafafa; border-radius:0.5vw; }
